*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
}

.container{
    padding: 22px;
}

.navbar{
    display: flex;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    display: inline-block;
    margin-right: 22px;
}

a{
    text-decoration: none;
    color: #fff;
}

.navbar ul li a:hover{
    color: blue;
}

